Для работы проекта необходимо разместить файл ".env" в корневой папке проекта со следующим содержимым:

DB_ENGINE='django.db.backends.postgresql'
DB_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres  # любое другое название до знака "=" не подойдет
DB_HOST=db
DB_PORT=5432